@{
    ViewData["Title"] = "Contact";
    ViewData["Message"] = "Hoe zijn wij bereikbaar?";
}
<div class="row col-md-12">
    <div class="jumbotron">
        <p>
            <strong>RDW Techday</strong><br />
            Rozenburglaan 5<br />
            9727DL Groningen<br />
            <a href="mailto:rdwtechday@rdw.nl">rdwtechday@rdw.nl</a>
        </p>
    </div>
</div>
