@{
    ViewData["Title"] = "RDW Techday Registratie";
    ViewData["Message"] = "Welkom op deze site!";
}

<div class="row">
    <p>op deze site kunt u zich registreren voor het <a href="http://rdwtechday.nl">RDW Techday event</a>. Voor meer informatie ga naar de <a href="http://rdwtechday.nl">site</a> van het event.</p>
    <p>RDW Medewerkers kunnen zich direct inschrijven via de <a asp-area="" asp-controller="Account" asp-action="Register">Registratie link</a>. </p>
    <p>Bent u geen RDW'er en is uw bedrijf wel lid van <a href="http://samenwerkingnoord.nl">Samenwerking Noord</a> dan kunt u zich opgeven voor het event via de <a href="http://samenwerkingnoord.nl">Samenwerking Noord</a>.</p>
</div>
