
@{
    ViewData["Title"] = "Privacy verklaring";
    ViewData["Message"] = "";
}

<div class="jumbotron">
    <p>
        RDW verwerkt op deze site persoonsgegevens voor geen enkel ander doel dan het tot stand brengen van de RDW Techday.
        Deze gegevens worden weer verwijderd zodra het event afgelopen is. Wij bewaren geanonimiseerde gegevens met het doel de kwaliteit van de RDW Techday nog verder te verbeteren.
    </p>
    <p>
        Wij leggen uw naam, e-mailadres, organisatie en een wachtwoord vast bij inschrijving voor de RDW Techday. Verder leggen wij vast naar welke sessies u wilt gaan.
        Uw naam, e-mailadres en organisatie en de geselecteerde sessie worden afgedrukt op de congresbadge, die u nodig heeft om de sessies te bezoeken.
        Uw wachtwoord wordt gebruikt om uw gegevens af te schermen tegen ongeautoriseerd gebruik. De over u vastgelegde gegevens kan u zelf inzien en beheren.
    </p>
    <p>
        Uw gegevens worden niet aan derden verstrekt.</p>
    <p> 
        De verbinding tussen uw browser en deze site is beveiligd met een ssl certificaat.
    </p>
    <p>
        Deze site bevat geen tracking cookies. Deze site maakt wel gebruik van technische cookies om uw loginstatus te bewaren.
    </p>
</div>
