
@{
    ViewData["Title"] = "Privacy verklaring";
    ViewData["Message"] = "";
}

<div class="jumbotron">
    <p>
        RDW verwerkt op deze site persoonsgegevens voor geen enkel ander doel dan het tot stand brengen van de RDW Techday.
        Deze gegevens worden weer verwijderd zodra het event afgelopen is. Wij bewaren geaggregeerde gegevens (zoals bezoekers per sessie) 
        met het doel de kwaliteit van de RDW Techday nog verder te verbeteren.
    </p>
    <p>
        Wij leggen uw naam, e-mailadres en organisatie vast bij inschrijving voor de RDW Techday. Verder leggen wij vast naar welke sessies u wilt gaan.
        Uw naam, organisatie en de geselecteerde sessies worden afgedrukt op de congresbadge, die u nodig heeft om de sessies te bezoeken.
        De over u vastgelegde gegevens kan u zelf inzien en beheren.
    </p>
    <p>
        Wij leggen niet uw wachtwoord vast, maar een van uw wachtwoord afgeleide controlecode (een zogenaamde hash met een salt). 
        Deze controlecode kunnen wij alleen gebruiken om vast te stellen of bij het inloggen een correct wachtwoord is ingevoerd. 
        Wij zijn niet in staat het wachtwoord in te zien of deze te raden. Mocht u uw wachtwoord vergeten zijn, dan kunt u het wachtwoord zelf herstellen met een resetverzoek op het inlogscherm.
    </p>
    <p>
        Uw gegevens worden niet aan derden verstrekt.</p>
    <p> 
        De verbinding tussen uw browser en deze site is beveiligd met een ssl certificaat.
    </p>
    <p>
        Deze site bevat geen tracking of third-party cookies. Deze site maakt wel gebruik van technische cookies om uw loginstatus te bewaren.
    </p>
    <p>
        De sourcecode van deze applicatie is in te zien op: <a href="https://github.com/rdwtechday/RdwTechdayRegistration">github</a>.
    </p>
</div>
