@{
    ViewData["Title"] = "E-mail bevestigd";
    ViewData["Message"] = "Nu kan de pret beginnen..";
}
<div>
    <p>
        Bedankt voor het bevestigen van uw e-mail!. U kunt nu <a asp-area="" asp-controller="Account" asp-action="Login">inloggen</a>  om sesies te kiezen.
    </p>
</div>
