@{
    ViewData["Title"] = "bevestiging password vergeten";
}

<h2>@ViewData["Title"]</h2>
<p>
    Kijk in uw e-mail, daarin ontvangt u een bericht waarmee een nieuw password ingesteld kan worden.
</p>
