@{
    ViewData["Title"] = "Bevestiging password vergeten";
    ViewData["Message"] = "Het probleem is bijna opgelost...";
}

<p>
    Kijk in uw e-mail, daarin ontvangt u een bericht waarmee een nieuw password ingesteld kan worden.
</p>
