@{
    ViewData["Title"] = "Gebruiker geblokkeerd";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">Deze gebruiker is geblokkeerd. Vraag een nieuw wachtwoord aan via het <a asp-action="ForgotPassword">wachtwoord vergeten</a> formulier</p>
</header>
