@{
    ViewData["Title"] = "E-mail verstuurd";
    ViewData["Message"] = "Weer iemand blij gemaakt!";
}
<div>
    <p>
        wil je nog iemand <a asp-area="" asp-controller="Account" asp-action="RegisterNonRdw"> aanmelden?</a>.
    </p>
</div>
