@{
    ViewData["Title"] = "Geregistreerd";
    ViewData["Message"] = "Welkom bij de Techday!";
}

<div class="jumbotron">
    <h2>Vergeet niet om uw e-mail bevestigen!</h2>
    Voordat u zich kunt inschrijven voor sessies, dient u de mail in uw inbox eerst te bevestigen.
</div>