<div class="title-row row">
    <div class="title-row col-md-3 hidden-xs hidden-sm">
        <img src="~/images/logo-rdw.svg" alt="RDW Logo" />
    </div>
    <div class="col-md-9">
        <h2 >@ViewData["Title"]</h2>
        <h4 >@ViewData["Message"]</h4>
    </div>    
</div>
<hr class="title-row" />
