{
  "admin": {
    "email": "The default admin account inserted when the the database is empty or if the defaultaccount is missing, e.g. mail@example.org",
    "password": "Strong password for the default account e.g. StrongPassword-666"
  },
  "sendgridkey": "your sendgrid apikey here in order to send mails from the app when hosted in Azure",
  "email": {
    "fromadress": "the reply adress for emails that are sent .e.g. techday@rdw.nl",
    "fromname": "the name of the sender e.g. RDW Techday 2022"
  }
}