@model RdwTechdayRegistration.Models.Track

@{
    ViewData["Title"] = "Track";
    ViewData["Message"] = "Aanmaken";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Naam" class="control-label"></label>
                <input asp-for="Naam" class="form-control" />
                <span asp-validation-for="Naam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rgb" class="control-label"></label>
                <input asp-for="Rgb" class="form-control" />
                <span asp-validation-for="Rgb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BadgeCode" class="control-label"></label>
                <input asp-for="BadgeCode" class="form-control" />
                <span asp-validation-for="BadgeCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
