@{
    ViewData["Title"] = "Twee-factor authentication (2FA) uitschakelen";
    ViewData.AddActivePage(ManageNavPages.TwoFactorAuthentication);
}

<h2>@ViewData["Title"]</h2>

<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Deze actie schakelt alleen de 2FA op uw account uit.</strong>
    </p>
    <p>
        Het uizetten van 2FA verandert niet de sleutels in uw authenticatie app. 
        Als u deze sleutels wil aanpassen, ga dan naar <a asp-action="ResetAuthenticatorWarning">.</a>
    </p>
</div>

<div>
    <form asp-action="Disable2fa" method="post" class="form-group">
        <button class="btn btn-danger" type="submit">Disable 2FA</button>
    </form>
</div>
