@model RegisterNonRdwViewModel
@{
    ViewData["Title"] = "Registreren niet RDW Deelnemer";
}

<div class="row">
    <div class="col-md-8">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <h4>Meld een niet-RDW'er aan voor de RDW Techday</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Organisation"></label>
                <input asp-for="Organisation" class="form-control" />
                <span asp-validation-for="Organisation" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
