@model RdwTechdayRegistration.Models.Maxima

@{
    ViewData["Title"] = "Aantallen";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="MaxRDW" class="control-label"></label>
                <input asp-for="MaxRDW" class="form-control" />
                <span asp-validation-for="MaxRDW" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxNonRDW" class="control-label"></label>
                <input asp-for="MaxNonRDW" class="form-control" />
                <span asp-validation-for="MaxNonRDW" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
