@model IEnumerable<RdwTechdayRegistration.Models.ApplicationUser>

@{
    ViewData["Title"] = "Gebruikers";
    ViewData["Message"] = "Inzien en Bewerken";
}


<p>
    <a asp-action="Badges" class="btn btn-rdw">Download Badges</a>
    <a asp-action="EnterBadges" class="btn btn-rdw">Badges invoeren</a>
</p>

@await Html.PartialAsync("_UserListPartial", Model)